h1 {
    text-align: center;
    background-color: gray;
    color: white;
}

.mnav ul {
    background-color: gray;
    text-align: center;
}

.mnav li {
    display: inline-block;
    margin: 25px;
}

a {
    color: red;
}

.pizza h3 {
    background-color: green;
    color: red;
    text-align: center;
    font-size: 24px;
}

.sushi h3 {
    background-color: salmon;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
}

.salad h3 {
    background-color: lightgreen;
    color: burlywood;
    text-align: center;
    font-size: 24px;
}

