h1 {
    text-align: center;
    background-color: gray;
    color: white;
}

.mnav ul {
    background-color: gray;
    text-align: center;
}

.mnav li {
    display: inline-block;
    margin: 25px;
}

a {
    color: red;
}

.pizza h3 {
    background-color: green;
    color: red;
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sushi h3 {
    background-color: salmon;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.salad h3 {
    background-color: lightgreen;
    color: burlywood;
    text-align: center;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

